.Weather {
  font-family: sans-serif;
  padding: 20px;
  color: #686b72;
}
.Weather h1 {
  color: rgb(80, 80, 80);
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0 0 0;
  line-height: 50px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  line-height: 21px;
  font-weight: 100;
  list-style: none;
}
.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(80, 80, 80);
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.float-left {
  float: left;
}
.btn-success {
  background-color: #0aa970;
  border: none;
}
.btn.btn-success:hover {
  background-color: #71a9c1;
}
.search {
  margin-top: 10px;
}
